<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Personews{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('pn.ico') }}"/>
    <link rel="stylesheet"
          href="{{ asset('css/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="{{ asset('css/bootstrap/dist/css/bootstrap-theme.css') }}">
    <link rel="stylesheet"
          href="{{ asset('css/bootstrap/dist/css/carousel.css') }}">

    <link rel="stylesheet"
          href="{{ asset('css/bootstrap/dist/css/flow.css') }}">

</head>
<body>


<div class="container">
    <section class="row">
        {% set url =  "http://127.0.0.1/PersoNews/personews_website/web/app_dev.php/" %}
        <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
            <a class="navbar-brand" href="{{ url }}">PersoNews</a>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url }}"><span
                                class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url }}offer">Offres</a>
                </li>
                <li class="nav-item flow">
                    <a class="nav-link" href="{{ url }}flow">Flux</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url }}login">Compte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url }}about">Contact</a>
                </li>
            </ul>
        </nav>
</div>


{% block body %}
{% endblock %}



{% block javascripts %}
    <!-- Bootstrap core JavaScript
       ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

    <script src="{{ asset('css/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{{ asset('css/bootstrap/js/tests/vendor/holder.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

{% endblock %}
</body>
</html>